{% extends 'index.html' %}

{% load static %}

{% block content %}
<section >
    
        <h2 style="text-align: center;">Donaciones</h2>
            
            <div class="container">
                <h6><strong>Atención</strong></h6>
                <p>
                    Estas donaciones son a voluntad son de mucha ayuda, ya que tienen por objetivo mantener el sitio web funcionando correctamente,
                    ya sea con hosting y la adquisición de nuevos servicios y herramientas para traer nueva información.
                </p>
                <div class="container" style="text-align: center;">
                    <p><strong>1 Dólar</strong> es equivalente a: </p>
                    <a href="https://www.valordolarblue.com.ar/" class="valordolarblue-widget" data-width="230" data-styletransparent="true" title="Precio Dolar Blue"><b>Dolar Blue</b></a><script type="text/javascript">!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.async=true;js.src="//www.valordolarblue.com.ar/static/js/widget.min.js?2.0";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","valordolarblue-widget");</script>
                    <p><strong>ARS</strong></p>
                </div>
                <h4>Paypal</h4>
                    <div class="row">
                        <div class="col-4" >
                            <a href="https://paypal.me/techmig?country.x=AR&locale.x=es_XC"><img src="{% static 'images/paypal.png' %}" alt="" 
                                style="max-width: 200px;max-height: 200px;"></a>
                            <a href="https://paypal.me/techmig?country.x=AR&locale.x=es_XC" 
                            style="color: #CF2C4E;"><h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Paypal</h3></a>
                        </div>
                        <div class="col-4" >
                            <a href="https://paypal.me/techmig?country.x=AR&locale.x=es_XC"><img src="{% static 'images/paypal.png' %}" alt="" 
                                style="max-width: 200px;max-height: 200px;"></a>
                            <a href="https://paypal.me/techmig?country.x=AR&locale.x=es_XC" 
                            style="color: #CF2C4E;"><h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Paypal</h3></a>
                        </div>
                        <div class="col-4" >
                            <a href="https://paypal.me/techmig?country.x=AR&locale.x=es_XC"><img src="{% static 'images/paypal.png' %}" alt="" 
                                style="max-width: 200px;max-height: 200px;"></a>
                            <a href="https://paypal.me/techmig?country.x=AR&locale.x=es_XC" 
                            style="color: #CF2C4E;"><h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Paypal</h3></a>
                        </div>
                    </div>
<br><br>
                <h4>MercadoPago</h4>
                <div class="row">
                    <div class="col-4">
                        <a href="https://mpago.la/1sWaeUN"><img src="{% static 'images/MercadoPago.png' %}" alt="" 
                        style="max-width: 200px;max-height: 200px;"></a>
                        <a href="https://mpago.la/1sWaeUN" 
                        style="color: #CF2C4E;"><h3>MercadoPago 200ARS</h3></a>
                    </div>
                    <div class="col-4">
                        <a href="https://mpago.la/2jWaLj8"><img src="{% static 'images/MercadoPago.png' %}" alt="" 
                        style="max-width: 200px;max-height: 200px;"></a>
                        <a href="https://mpago.la/2jWaLj8" 
                        style="color: #CF2C4E;"><h3>MercadoPago 500ARS</h3></a>
                    </div>
                    <div class="col-4">
                        <a href="https://mpago.la/12q8y6f"><img src="{% static 'images/MercadoPago.png' %}" alt="" 
                        style="max-width: 200px;max-height: 200px;"></a>
                        <a href="https://mpago.la/12q8y6f" 
                        style="color: #CF2C4E;"><h3>MercadoPago 1000ARS</h3></a>
                    </div>
                    <div class="col-4">
                        <a href="https://mpago.la/13A4qBC"><img src="{% static 'images/MercadoPago.png' %}" alt="" 
                        style="max-width: 200px;max-height: 200px;"></a>
                        <a href="https://mpago.la/13A4qBC" 
                        style="color: #CF2C4E;"><h3>MercadoPago 2000ARS</h3></a>
                    </div>
                    <div class="col-4">
                        <a href="https://mpago.la/2rwk7SE"><img src="{% static 'images/MercadoPago.png' %}" alt="" 
                        style="max-width: 200px;max-height: 200px;"></a>
                        <a href="https://mpago.la/2rwk7SE" 
                        style="color: #CF2C4E;"><h3>MercadoPago 5000ARS</h3></a>
                    </div>
                    <div class="col-4">
                        <a href="https://mpago.la/127mL6G"><img src="{% static 'images/MercadoPago.png' %}" alt="" 
                        style="max-width: 200px;max-height: 200px;"></a>
                        <a href="https://mpago.la/127mL6G" 
                        style="color: #CF2C4E;"><h3>MercadoPago 10000ARS</h3></a>
                    </div>
                </div>
            </div>


</section>

{% endblock %}